* {
  margin: 0;
}
body {
  background: #e1f0c4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  line-height: 1.8;
}
.header {
  background: url("https://github.com/Greyts/Portfolio-Webpage/blob/master/images/krasnalHeader-bez-1-right.jpg?raw=true");
  background-color: #ffe2d1;
  background-attachment: fixed;
  background-position-x: right;
  background-repeat: no-repeat;
  height: 250px;
}
.footer {
  color: black;
  position: relative;
  float: right;
}
.fa-home {
  color: black;
  margin: 15px;
}
.fa-home:hover {
  text-shadow: 1px 1px 2px rgb(29, 28, 28);
  transition: 0.3s;
  transform: scale(1.1);
}
.banner {
  height: 50px;
  background: #55917f;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}
.fa-github-square {
  margin: 15px;
  color: black;
  text-shadow: 1px 1px 3px rgb(75, 74, 74);
}
.fa-github-square:hover {
  text-shadow: 1px 1px 3px rgb(29, 28, 28);
  transition: 0.7s;
  transform: translateY(10px);
}
.fa-instagram {
  margin-top: 15px;
  color: black;
  text-shadow: 1px 1px 3px rgb(75, 74, 74);
}
.fa-instagram:hover {
  text-shadow: 1px 1px 3px rgb(29, 28, 28);
  transition: 0.7s;
  transform: translateY(10px);
}
.dane {
  margin: 15px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 3px rgb(78, 77, 77);
}
li {
  transform: translateY(10px);
  list-style-type: none;
}
.gradient {
  height: 40px;
  display: flex;
  position: sticky;
  top: 40px;
  background: linear-gradient(
    to right,
    rgb(225, 240, 196, 0.4),
    rgb(225, 240, 196, 1)
  );
  z-index: 1;
}
/* MAIN -------------------------------------------------------------------------MAIN */
/*  





MAIN =============================================================================MAIN*/

/* FROM THE RIGHT BANNER 





FROM THE RIGHT BANNER*/
.row-right {
  display: flex;
  flex-wrap: wrap;
  background: rgb(94, 76, 90, 0.3);
  margin-left: 7%;
  margin-bottom: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  text-align: justify;
}
.p-right {
  display: inline-block;
  margin-top: 2%;
  padding: 1%;
  overflow: auto;
  max-width: 50%;
  text-align: justify;
}
.photo-left {
  width: auto;
  height: auto;
  overflow: auto;
  transform: translateX(-2%);
  border-radius: 10%;
  transition: 0.2s;
}
.photo-left:hover {
  transform: scale(1.1);
  z-index: 3;
}
/* FROM THE LEFT BANNER





FROM THE LEFT BANNER */
.row-left {
  display: flex;
  flex-wrap: wrap-reverse;
  background: rgb(94, 76, 90, 0.3);
  margin-right: 7%;
  margin-bottom: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  text-align: justify;
}
.p-left {
  transform: translateX(17%);
  margin-left: 5%;
  margin-top: 2%;
  padding: 1%;
  overflow: auto;
  max-width: 50%;
  text-align: justify;
}
.photo-right {
  float: right;
  transform: translateX(28%);
  border-radius: 10%;
  transition: 0.2s;
}
.photo-right:hover {
  transform: scale(1.1) translateX(28%);
  z-index: 3;
}
